h1 {
	background: blue;
	transition: all 400ms ease;
	width: 200px;
	margin: 0;

	&:hover {
		animation: slideAround 3s infinite;
	}
}

@keyframes slideAround {
	0%{
		margin-left: 0;
		margin-right: 0;
	}
	25%{
		margin-left: 50px;
		margin-right: 0;
	}
	50%{
		margin-left: 50px;
		margin-top: 50px;
	}
	75%{
		margin-left: 0;
		margin-top: 50px;
	}
	100%{
		margin-left: 0;
		margin-top: 0;
	}
}