.instructions-list {
	
	text-align: center;

	li {
		&:before {
			padding-left: $baseline;

			padding: 20px;
			font-size: #{(40/16)}rem;
			font-family: $font-family--1;
			
			display: inline-block;
			
			color: $dark;
			border: 4px solid $dark;

			padding: 20px 40px;
			border-radius: 100%;
			
			box-shadow: 0px 3px 1px 0px white;
			
			margin-bottom:  $baseline*2;

		}
	}
}

.chosen-container div { 
	margin: 0;
}

section {

	padding: 0 $baseline;
	padding-bottom: $baseline*5;
}

img {
	max-width: 100%;
}

body {
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=1 );
}

header {
	// border-right: 107px solid #071031;
	//padding-right: 30%;
	//background-color: #071031;
	padding: 40px 20px;

	.hero {
		padding-bottom: 20px;
		font-size: 66px;
		color: $dark;
		text-transform: none;
		text-shadow: 1px 1px 1px #ffffff;
		font-family: $font-family--5;
	}

	.sidekick {
		
		color: #071031;
		display: table;
		border-bottom: 4px solid;
		padding-bottom: 4px;
		margin: 0 auto;
	}
}



.undercover {
	position: absolute;
	width: 100%;
	margin: 0;
	top: 0;
	
	z-index: -1;

	.hero {
		opacity: .58;
		color: #d0d0d0;
	}
}





input[type="file"] {

	display: block;
	width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  @extend .c-btn--cta;
  content: 'Take picture';
  
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.custom-file-input:focus {
  outline: none;
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  background-color: black;
}