/*
	Reseting all text tags
*/

h1,h2,h3,h4,h5,h6,p,span,div, header {

	font-weight: normal;
}

h1 {
	font-size: 24px;
}

.t-title {
	text-transform: uppercase;
	letter-spacing: 5px;
}

p {
	line-height: 1.6;
	font-size: 16px;
	padding: 0 $baseline;
}

p + p {
	margin-top: $baseline;
}
