.hero {
	text-align: center;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	display: block;
	font-size: 17vw;
}

.sidekick {
	text-align: center;
	font-size: 5vw;
	text-transform: uppercase;
}